<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <style>
        body, html {
            height: 100vh;
        }

        .qr_image {
            width: 300px;
            height: 300px;
        }


    </style>
</head>
