<!DOCTYPE html>

<html>
<%- include('header') %>
<body>

<div class="container d-flex align-items-center justify-content-center mt-5  px-5 border">

    <h3>Scannez ce QR Code pour vous authentifiez</h3>

</div>


<%- include('scripts') %>

</body>
</html>