<!DOCTYPE html>

<html>
<%- include('partials/header') %>
<body>

<%- include('partials/navbar') %>

<div class="container   mt-5  px-5 pt-5 border">
    <h3 class="text-center mb-5">Envoie au Client</h3>

        <p style="color:red" id="errorID" class="text-center"></p>
        <p style="color:green" id="successID" class="text-center"></p>
        <form>
            <div class="form-group message">
                <label for="usr">votre message:</label>
                <input type="text" required class="form-control" id="message_id">
            </div>



            <button type="submit" class="validerBtn btn btn-dark text-center d-flex">Valider</button>
        </form>


</div>


<%- include('partials/scripts') %>
<script>
    $(document).ready(() => {


        var errorID = $("#errorID")
        var successID = $("#successID")

        const socket = io()
        const message_id = $('#message_id')

        socket.on('error', (msg) => {
            console.log('error', msg)
            errorID.html(msg)
        })

        socket.on('updateVenteNotif', (msg) => {
            console.log('updateVenteNotif', msg)
        })

        socket.on('success', (msg) => {
            console.log('error', msg)
            successID.html(msg)
            token_id.val('')
        })


        $('form').on('submit', (e) => {
            e.preventDefault()
            errorID.html('')
            console.log('session_id', message_id.val())
            socket.emit('sendToClient',
                {message: message_id.val()})

        })
    })
</script>
<!--<script src="/js/index.js"></script>-->

</body>
</html>